<div class="container mt-3">
  <button
    type="button"
    class="btn btn-success"
  >Add new product</button>

  <hr>

  <div class="d-flex justify-content-between">
    <div class="col-8">
      <app-filter></app-filter>
    </div>

    <div class="col-4">
      <app-sort
        [sortBy]="sortBy()"
        (sortChanged)="onSortChanged($event)"
      ></app-sort>
    </div>
  </div>
  <hr>

  <app-products
    [products]="productsView()"
    (deleteProduct)="onDeleteButtonClick($event)"
  ></app-products>

</div>
